.C2 {
	font-family: Arial, sans-serif;
	font-size: 10px;
	line-height: normal;
	color: #000000;
	text-align: left;
}
.S1 {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.H1 {
	font-size: 19px;
	font-weight: normal;
	color: #0C245C;
	font-family: "Arial Black";
	letter-spacing: normal;
	word-spacing: normal;
}
.C1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #000000;
}
.CH1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333333;
	font-weight: bolder;
}
.link-1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF0000;
	text-decoration: none;
}
.H2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #4F4F4F;
	font-weight: bolder;
}
.S3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.S2 {
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: bolder;
	color: #414349;
}
.C3 {
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #FF0000;
}
.H2-1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: #FFFFFF;
}
.H3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bolder;
	color: #CCCCCC;
}
.H4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bolder;
	color: #7B7B7B;
}
.BH1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #484848;
}
.BS1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.H5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FF6600;
	font-weight: bolder;
}
.CS1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.list-1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #56C52E;
	font-weight: bolder;
}
.list-2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FA1400;
}
.list-3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.C4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #676767;
	font-weight: bold;
}
.C5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #757575;
	line-height: 13px;
}
.H6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: bolder;
}
.H7 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #818181;
	font-weight: bolder;
}
.HL-1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
}
.HL-2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	text-decoration: line-through;
}
.Available {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FF0000;
	text-decoration: blink;
	font-weight: bolder;
	background-image: none;
}
.other-1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: normal;
	top: 200px;
	position: absolute;
	right: auto;
}
.C6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF4111;
	font-weight: bold;
}
.H8 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #000000;
	font-weight: bolder;
}
.S4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
}
.CS2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: #333333;
}
.C7 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF4111;
}
.C8 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FF6600;
	font-weight: bolder;
}
.DASY {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #000000;
	font-weight: bolder;
}
.LAB {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: bolder;
	color: #005694;
}
.c9 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #FF4111;
	line-height: normal;
}
.H2-1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	color: #4F4F4F;
	font-weight: bolder;
}
.H10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bolder;
	color: #CACACA;
	line-height: 30px;
	text-decoration: underline;
}
.C0 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 5px;
	color: #FF6600;
	font-weight: lighter;
}
.S5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
.S6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.S7 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.BS1-R {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F47E20;
}
.C10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #339933;
}
.BS1-1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF9A2F;
}
.C11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.C12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
